body{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    color: white;
    padding: 5rem;
    margin: 3rem;
}

a{
    display: grid;
    justify-content: center;
    align-items: center;
    color: white;
}